# VIM files
*.swp
*.swo


#vscode
.vscode


#esp-idf
build/
#sdkconfig
sdkconfig.old
.devcontainer



#project specific
credentials.h



#kicad
**/*-backups/*.zip
\#auto_saved_files\#
*.lck
_autosave-*
fp-info-cache

*.kicad_sch-back
*.bak
*.kicad_sch-bak

*.kicad_prl

pcb_*/export/